<section class="main">
  <h1>Home</h1>

  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti minima, eligendi inventore magnam distinctio eaque similique fugit voluptate, natus tempora, in perspiciatis, dolores incidunt officiis consequuntur modi quaerat. Recusandae, fugit!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quas accusantium dolore laborum tenetur excepturi nisi, veritatis eveniet explicabo soluta blanditiis commodi, harum fugiat ea. Eos obcaecati quod, incidunt voluptates.</p>
  </div> <!-- End of content div -->
</section>
